*{
    padding: 0;
    margin: 0;
}

.main{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    border: 2px solid black;
}
.log-reg{
    width: 50%;
    padding: 5%;
}

h3{
    text-align: center;
    background-color: rgb(30, 30, 82);
    padding: 1%;
    color: white;
}

.add-button{
    margin: 0 auto;
}
#add-button{
    background-color: rgb(30, 30, 82);
    border: 4px solid rgb(30, 30, 82);
    font-weight: bold;
    box-shadow: 2px 2px 2px gray;
}

#comment-button{
    background-color: skyblue;
    border: 4px solid skyblue;
    font-weight: bold;
    color: black;
    box-shadow: 2px 2px 2px gray;
}

.errors{
    margin-left: 40px;
    color: red;
}

.errors li{
    margin-left: 25px;
}

.main-success{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    border-bottom: 2px solid black;
    align-items: center;
    
    padding: 1%;
}

.success_container{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    border: 2px solid black;
}
.header_right{
    display: flex;
    width: 55%;
    justify-content: right;
    gap: 7%;
}

.message-container{
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
}
.message-inner{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.message-container textarea{
    border: 2px solid black;
    margin-bottom: 5px;
}
.message-inside{
    margin-bottom: 5px;
    margin-left: 25px; 
    margin-bottom: 30px;
}

.message-container label{
    font-size: 1.2em;
}

.message-header {
    background-color: rgb(30, 30, 82);
    color: white;
    padding: 0.5%;
    display: flex;
    justify-content: space-between;
    
}
.message-header a{
    color: white;
}

.comment-container{
    border: 2px solid blue;
    margin: 0 auto;
    width: 90%;

}

.comment-container label{
    font-size: 1em;

}

.posted-comment{
    padding-left: 1%;
}

.posted-comment p{
    margin-bottom: 2px;
}

.comment-header{
    background-color: skyblue;
    padding: 0.5%;
    
}

#delete_btn{
    background-color: rgb(30, 30, 82);
    color: white;
    border: none;

}