<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="success_container">
        <div class="main-success">
            <h1>Success! Welcome, {{request.session.user_id}}!</h1>

            <a href="/logout">Logout</a>
        </div>
        {% if request.session.case == 'registration' %}
        <h2>Successfully registered</h2>
        {% elif request.session.case == 'login' %}
        <h2>Successfully logged in</h2>
        {% endif %}
    </div>
</body>

</html>